# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv/
env/
venv/
ENV/
ENV.bak/
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Backup files
*~